<h1>Welcome to {{title}}</h1>
<!-- <app-studet></app-studet><br>
<!-- or <h2 class="app-studet"></h2> -->
<!-- or use <app-studet></app-studet> -->

<!-- <app-shop></app-shop> -->
<!-- <app-product></app-product> -->

<!-- <app-acount-holder></app-acount-holder> -->
<!-- 
<a [routerLink]="'shop'">Shop</a>&nbsp;
<a [routerLink]="'product'">List</a>&nbsp;
<a [routerLink]="'studet'">StudentDetails</a>&nbsp;
<a [routerLink]="'acount-holder'">HolderDetails</a>

<div class="container" style="border:2px solid rgb(137, 171, 59); height:50%">
    <router-outlet></router-outlet>
</div>

{{123456|currency:'INR'}}<br>
{{123456|currency:'USD'}}<br>
{{title|uppercase}}<br>
{{DOJ|date:'short'}}<br>
{{DOJ|date:'full'}}<br>
{{[1,2,3,4,5]|slice:3}}<br>
{{[1,2,3,4,5,6,7,8]|slice:2:5}}<br>
{{[1,2,3,4,5,6,7,8]|slice:2:-1}}<br> -->
<app-product-details></app-product-details>