<p class="text">studet works!</p>
<p [class]="colored">See below results</p>

<div *ngIf="true">
    Student Name : {{studentName}}<br />
    Student Mark : {{studentMark}}<br>
    Date of Joing :{{DOJ}}<br />
</div>

<button (click)="displayMessage()">Click here </button>
<h2 [style.color]="fontColor">Property binding</h2>

<div [ngSwitch]="changes">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
</div><br>