<p>product-details works!</p>

<table border="1">
    <thead>
        <tr>
            <td>Title</td>
            <td>ID</td>
            <td>Brand</td>
            <td>Stock</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody *ngFor="let product of productData">
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.id}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.price}}</td>
            </tr>
    </tbody>
    
</table>
