:root {
    --yellow: #96f924;
    --red: #f92424;
    --red: red;
}

*::selection {
    background: var(--red);
    color: #ffffff;
}

body ,html{
    background: #e7efe8;
    position: relative;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    scroll-padding-top: 12vh;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.parent-btn{
    border: none;
    padding: 12px 10px;
    width: 140px;
    height: 46px;
    line-height: 46px;
    background: var(--red);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} 
.parent-btn .btn-layout{
   width: 100%;
   background: #21a18c;;
   border: none;
   position: absolute;
   top: 0px;
   left: -100%;
   height: 100%;
   transition: all .3s ease-in-out;
}
.parent-btn .btn-text{
   width: 100%;
   font-size: 18px;
   border: none;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   z-index:1;
}
.parent-btn:hover .btn-layout{
   left: 0;
}


.navbar{
    height: 72px;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    background: #ffffff;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* .navbar .nav-content .log {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.nav-content .nav-logo span:first-of-type i{
    margin-right: 8px;
    font-size: 26px;
    color: var(--red);
}
.nav-content .nav-logo span:last-of-type{
    font-size: 28px;
    color: #202b67;
}
.nav-content .nav-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content .nav-link ul a{
    color: #7d7777 ;
    margin: 0px 10px;
    font-family:sans-serif;
    font-size: 18px;
}
 
.nav-content .nav-link ul .link-info .parent-btn {
        border: none;
        margin: 0px 16px 0px 6px;   
        width: 140px;
        height: 46px;
        line-height: 46px;
        background: var(--red);
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
.nav-content .nav-link ul .link-info .parent-btn .btn-layout {
    width: 100%;
    background: #21a18c;
    border: none;
    position: absolute;
    top: 0px;
    left: -100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.nav-content .nav-link ul .link-info .parent-btn .btn-text {
    width: 100%;
    font-size: 18px;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
}

.nav-content .nav-link ul .link-info .parent-btn:hover .btn-layout {
    left: 0;
}
.nav-content .nav-link ul .link-info:first-of-type{
    margin-right: 6px;
}
.nav-content .nav-link ul .link-info a{
    color: #ffffff;   
}
.nav-content .nav-link ul .link-info a:hover {
    color: #000000;
    left:0;
}
.nav-content .nav-link ul li a:hover{
    cursor: pointer;
    color: #0c0c0c;
    
}
.nav-content .Menu-hamburger{
    cursor: pointer;
    color: #48cae4;
    display: none;
    font-size: 32px;
}

.app {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.app h1{
    text-align: center;
    margin-bottom: 25px;
}
.app p{
    margin-left: 25px;
    margin-bottom: 10px;
}

.app p strong {
    font-weight: bold;
}


.modal-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.discard {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.discard:hover,
.discard:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-app button {
    width: 50%;
    padding: 10px;
    margin-left: 95px;
    margin-top: 20px;
    border: none;
    background-color: var(--red);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.modal-app button:hover {
    background-color: #000000;
    color: #f9f7f7;
}

#bookingDetails {
    display: none;
    /* Hide the booking details pop-up by default */
}

#loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

.modal-content h1{
    text-align: center;
    margin-bottom: 25px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="email"] ,
.modal-content input[type="number"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 90%;
}

.modal-content input[type="radio"] {
    display: inline;
    margin-right: 5px;
}


.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content i {
    margin-left: -30px;
    cursor: pointer;
}

.modal-content button[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-left: 130px;
    margin-top: 30px;
    border: none;
    background-color: var(--red);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.modal-content button[type="submit"]:hover {
    background-color: #000000;
    color:#f9f7f7;
}



.banner{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.banner swiper-slide{
    height: 40rem;
}
.banner .banner-img{
    width: 100%;
    height: 100%;
}
.banner .banner-img .banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner .banner-img .banner-title h1{
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 10px;
}




.form-data{
    margin: 80px 0px;
}
.form-data .form-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #e7dfdf;
    padding: 30px 10px;
    border-radius: 10px;
}
.form-data .form-content .data,
.form-data .form-content .check-btn{
    flex-basis: 19%;
    margin: 10px 0px;
}
.form-data .form-content .data label{
    color: var(--red);
    font-size: 19px;
    display: block;
    margin: 10px 0px;
}
.form-data .form-content .data input ,
.form-data .form-content .data select {
    width: 96%;
    padding: 12px 6px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #ffffff;
    font-size: 20px;
}
.form-data .form-content .check-btn{
    font-size: 20px;
    padding: 12px 6px;
    border: none;
    border-radius: 8px;
    background: var(--red);
    color: #ffffff;
}


.aboutUs{
    margin: 23px 0px 50px;
}
.aboutUs .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutUs .about-content .about-img{
    flex-basis: 38%;
}
.aboutUs .about-content .about-info{
    flex-basis: 56%;
}
.aboutUs .about-content .about-info h1{
    color: var(--red);
    margin-bottom: 28px;
    font-size: 34px;
}
.aboutUs .about-content .about-info p{
    color: #7d7777;
    margin: 20px 0px;
    font-size: 17px;
    letter-spacing: 1.2px;
    line-height: 26px;
}
.aboutUs .about-content .about-info .about-btn{
    color: #ffffff;
    background: var(--red);
    border:none;
    border-radius: 6px;
    padding: 12px;
    width: 170px;
    margin:18px 0px 10px;
    font-size: 17px;
}




.room{
    padding: 24px 0px 34px;
    position: relative;
}
.room .room-header{
    color: var(--red);
    font-size: 40px;
    text-align: center;
    margin: 10px 0px 60px;
} 
.room swiper-slide{
    text-align: start;
    font-size: 18px;
    display: block;
    cursor:grab;
}
.room .room-content{
    background: #ffffff;
    padding: 14px 12px;
    border: 1px solid #7d7777;
    border-radius: 6px;
}
.room .room-content .room-img{
    border-radius: 6px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    position: relative;
}
.room .room-content .room-img img:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.2 ,1.2);
}
.room .room-content .room-info h2{
    width:fit-content;
    text-align: start;
    color: var(--red);
}
.room .room-content .room-info p{
    text-align: start;
    color: #7d7777;
    font-size: 17px;
}
.room .room-content .room-info .room-btn{
    color: #ffffff;
    background: var(--red);
    border:none;
    border-radius: 6px;
    padding: 12px;
    width: 170px;
    margin:18px 0px 10px;
    font-size: 16px;
}
.room .room-content .room-img .price{
    position: absolute;
    top: 6px;
    left: 6px;
    color: #ffffff;
    background: var(--red);
    border-radius: 6px;
    padding: 8px;
    width: fit-content;
    font-size: 17px;
    font-family: system-ui;
}
.room .room-content .room-info .rom-stars i{
    color: var(--red);
    margin-right: 2px;
}


.gallery .gallery-title{
    color: var(--red);
    font-size: 40px;
    text-align: center;
}

.gallery .banner-img{
    position: relative;
    overflow:hidden;
    cursor: grab;
    height: 240px;
}
.gallery .banner-img .icon{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    display: none;
    text-align: center;
    transition: all .2s ease-in-out;
}
.gallery .banner-img:hover .icon{
    background: #000000;
    opacity: .4;
    display: block;
    transition: all .2s ease-in-out;
}
.gallery .banner-img .icon i{
    position: absolute;
    color: #ffffff;
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.book-now{
    margin: 80px 0px;
    /* display: none; */
}
.book-now .book-now-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #e7dfdf;
    padding: 30px 13px;
    /* border: 1px solid #7d7777; */
    border-radius: 10px;
}
.book-now .book-now-form .data{
    flex-basis: 49%;
    margin: 14px 0px;
}
.book-now .book-now-form .data label{
    color: var(--red);
    font-size: 17px;
    display: block;
    margin: 4px 0px;
}
.book-now .book-now-form .data input[type="text"]{
    width: 92%;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 17px;
    border-bottom: 1px solid #9E9E9E;
}
.book-now .book-now-form .data input[type="email"] {
    width: 92%;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 17px;
    border-bottom: 1px solid #9E9E9E;
}
.book-now .book-now-form .data input[type="date"]{
    width: 92%;
    padding: 10px 8px;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 17px;
    border-bottom: 1px solid #9E9E9E;
}
.book-now .book-now-form .data input,
.book-now .book-now-form .data select{
    color: #7d7777; 
    font-size: 17px;
    padding: 10px 8px;
    width: 94%;
    border: none;
    outline: none;
    border-bottom: 1px solid #9E9E9E;
}
.book-now .book-now-form .check-btn{
    margin: 12px 0px 16px;
    font-size: 17px;
    padding: 10px 6px;
    border: none;
    border-radius: 8px;
    background: var(--red);
    color: #ffffff;
    width: 220px;
}
.book-now .book-now-form .data select option:checked {
    background-color: var(--red);
    color: white;
}



.footer{
    margin: 28px 0px;
    background: #474444;
    padding: 26px 10px;
}
.footer .footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .footer-content .footer-link{
    flex-basis:32% ;
}
.footer .footer-content .footer-link h2{
    font-size: 22px;
    color: #ffffff;
    margin: 18px 0px 22px;
}
.footer .footer-content .footer-link ul {
    margin:12px 6px;
    padding: 0px;
}
.footer .footer-content .footer-link ul li{
    margin: 18px 0px;
}
.footer .footer-content .footer-link ul li i{
    color: #ffffff;
    font-size: 16px;
    margin-right: 14px;
}
.footer .footer-content .footer-link ul li span{
    color: #ffffff;
   font-size: 16px;
}






@media(max-width:1040px) {

    .nav-content .Menu-hamburger,
    .navbar .nav-logo {
        line-height: 12vh;
    }

    .nav-content .Menu-hamburger {
        display: block;
    }

    .nav-content .nav-link {
        position: absolute;
        left: -100%;
        top: 12vh;
        width: 100%;
        height: 100vh;
        background: #00000075;
        transition: all .4s ease-in-out;
        line-height: normal;
    }

    .nav-content .nav-link ul {
        flex-direction: column;
        height: 84vh;
        justify-content: space-around;
    }

    .nav-content .nav-link ul li a {
        color: #ffffff;
    }

    .nav-content .nav-link ul .link-info {
        background: none;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }

    .nav-content .nav-link.mobile-menu {
        left: 0px;
        transition: all .4s ease-in-out;
    }

    .nav-content .Menu-hamburger.Cred {
        color: #ff0000;
    }
}
@media(max-width:520px) {
    .banner .banner-img .banner-title {
        width: 70%;
    }
}

@media(max-width:1100px) {

    .form-data .form-content .data,
    .form-data .form-content .check-btn {
        flex-basis: 32%;
    }

    .form-data .form-content .check-btn {
        margin-top: 6%;
    }
}

@media(max-width:1000px) {

    .form-data .form-content .data,
    .form-data .form-content .check-btn {
        flex-basis: 48%;
    }

    .form-data .form-content .check-btn {
        margin-top: 8%;
    }
}

@media(max-width:800px) {

    .form-data .form-content .data,
    .form-data .form-content .check-btn {
        flex-basis: 100%;
    }

    .form-data .form-content .check-btn {
        margin-top: 14px;
    }
}
@media(max-width:1100px) {
    .aboutUs .about-content .about-img {
        flex-basis: 44%;
    }

    .aboutUs .about-content .about-info {
        flex-basis: 52%;
    }
}

@media(max-width:1000px) {
    .aboutUs .about-content .about-img {
        flex-basis: 48%;
    }

    .aboutUs .about-content .about-info {
        flex-basis: 49%;
    }

    .aboutUs .about-content .about-info h1 {
        margin-bottom: 20px;
        font-size: 34px;
    }

    .aboutUs .about-content .about-info p {
        margin: 14px 0px;
        line-height: 22px;
    }

    .aboutUs .about-content .about-info .about-btn {
        margin: 10px 0px;
    }
}
@media(max-width:900px) {
    .aboutUs .about-content {
        flex-direction: column;
    }
}
@media(max-width:880px) {
    .book-now .book-now-form .data {
        flex-basis: 100%;
    }
}

@media(max-width:1000px){
    .footer .footer-content .footer-link ul li i,
    .footer .footer-content .footer-link ul li span{
       font-size: 15px;
    }
} 
@media(max-width:900px){
    .footer .footer-content .footer-link{
        flex-basis:48% ;
    }
}
@media(max-width:520px){
    .footer .footer-content .footer-link{
        flex-basis:100% ;
    }
}




